.FirstScenePosition {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.FirstSceneFigurePosition {
  left: calc(27% - 150px);
  top: -250px;
}

.FirstSceneTextPosition {
  right: 18%;
  top: -4rem;
}

.FirstSceneTextWidth {
  width: 500px;
}

.FirstSceneTextLineHeight {
  line-height: 1.6;
}

.FirstSceneTitleTextFontSize {
  font-size: 2.5rem;
}

.FirstSceneDescTextFontSize {
  font-size: 1.3rem;
}

.ThirdSceneFigureContainer {
  width: 500px;
  height: 500px;
}

.ThirdSceneFigure {
  width: 100%;
  height: 100%;
}

.ThirdSceneSize {
  width: 500px;
  height: 500px;
}

.lastSceneTextPosition {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lastSceneTextCenter {
  text-align: center;
}

.latSceneCursorStyle {
  font-size: 2.5rem;
}

.latSceneCursorAni {
  animation: cursorTwinkling 0.5s infinite alternate-reverse;
}

@keyframes cursorTwinkling {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
