@media screen and (max-width: 1536px) {
  body .FirstPartText {
    right: 2%;
  }

  body .SecondSceneContainer {
    width: 70%;
    height: 70%;
  }

  body .SecondSceneRightTitleText {
    font-size: 2rem;
  }

  body .SecondSceneRightDescText {
    font-size: 1rem;
  }

  body .CircleTextPosition1 {
    top: -14rem;
    left: 4rem;
  }

  body .CircleTextPosition2 {
    top: 1.7rem;
    left: 15.8rem;
  }

  body .CircleTextPosition3 {
    top: 14rem;
    left: 1.5rem;
  }

  body .CircleTextPosition4 {
    top: 3rem;
    left: -20rem;
  }

  body .CircleTextPosition5 {
    top: -9rem;
    left: -19rem;
  }

  body .ThirdSceneFirstTitleText {
    font-size: 2rem;
  }

  body .ThirdSceneFirstDescText {
    font-size: 1rem;
  }

  body .ThirdSceneSecondTitleText {
    font-size: 2rem;
  }

  body .ThirdSceneSecondDescText {
    font-size: 1rem;
  }

  body .SecondPartText {
    right: 27%;
  }

  body .ThirdSceneGifText {
    top: -6rem;
    right: 6%;
  }

  body .ThirdSceneFigureContainer {
    left: calc(20% - 150px);
  }
}

@media screen and (max-width: 1280px) {
  body .FirstSceneTitle {
    font-size: 1.8rem;
  }

  body .FirstSceneDesc {
    font-size: 0.9rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 2rem;
  }

  body .SecondSceneRightDescText {
    font-size: 1rem;
  }

  body .SecondPartText {
    right: 25%;
  }

  body .ThirdSceneSecondTitleText {
    font-size: 1.8rem;
  }
  body .ThirdSceneSecondDescText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1100px) {
  body .SecondSceneContainer {
    width: 60%;
    height: 60%;
    font-size: 1.2rem;
  }

  body .SecondSceneSvgText {
    font-size: 1.3rem;
  }

  body .CircleTextPosition1 {
    top: -12rem;
    left: 4rem;
    font-size: 1.2rem;
  }

  body .CircleTextPosition2 {
    top: 1.3rem;
    left: 13.8rem;
    font-size: 1.2rem;
  }

  body .CircleTextPosition3 {
    top: 12rem;
    left: 1.5rem;
    font-size: 1.2rem;
  }

  body .CircleTextPosition4 {
    top: 2.5rem;
    left: -18rem;
    font-size: 1.2rem;
  }

  body .CircleTextPosition5 {
    top: -8rem;
    left: -17rem;
    font-size: 1.2rem;
  }

  body .ThirdSceneFigureContainer {
    width: 400px;
    height: 400px;
  }

  body .ThirdSceneFigureContainer {
    left: calc(19% - 150px);
  }

  body .ThirdSceneGifText {
    top: -6rem;
    right: 1%;
  }
}

@media screen and (max-width: 1024px) {
  body .CircleTextPosition1 {
    top: -10rem;
    left: 2.5rem;
  }

  body .CircleTextPosition2 {
    top: 1.3rem;
    left: 11.8rem;
  }

  body .CircleTextPosition3 {
    top: 10rem;
    left: 1rem;
  }

  body .CircleTextPosition4 {
    top: 2rem;
    left: -15rem;
  }

  body .CircleTextPosition5 {
    top: -6.5rem;
    left: -14rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 1.6rem;
  }

  body .SecondSceneRightDescText {
    font-size: 0.8rem;
  }

  body .ThirdSceneFigureContainer {
    top: -230px;
  }

  body .ThirdSceneFigureContainer {
    left: calc(21% - 150px);
  }

  body .ThirdSceneGifText {
    right: -11%;
  }

  body .ThirdSceneText {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body .FirstSceneTitle {
    font-size: 1.4rem;
  }

  body .FirstSceneDesc {
    font-size: 0.8rem;
  }

  body .LoginTextSize {
    font-size: 0.8rem;
  }

  body .SignUpButton {
    padding: 0 0.6rem;
  }

  body .SignUpArrow {
    padding: 0.6rem 0.4rem;
  }

  body .SecondPartText {
    top: 40%;
  }

  body .SecondSceneContainer {
    width: 50%;
    height: 50%;
  }

  body .SecondSceneSvgText {
    font-size: 0.9rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  body .SecondSceneRightDescText {
    font-size: 0.6rem;
  }

  body .CircleTextPosition1 {
    top: -8.2rem;
    left: 2.5rem;
    font-size: 0.8rem;
  }

  body .CircleTextPosition2 {
    top: 1.2rem;
    left: 9.5rem;
    font-size: 0.8rem;
  }

  body .CircleTextPosition3 {
    top: 8rem;
    left: 1rem;
    font-size: 0.8rem;
  }

  body .CircleTextPosition4 {
    top: 1.7rem;
    left: -11.5rem;
    font-size: 0.8rem;
  }

  body .CircleTextPosition5 {
    top: -5.1rem;
    left: -10.9rem;
    font-size: 0.8rem;
  }

  body .ThirdSceneFirstTitleText {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  body .ThirdSceneSecondDescText {
    font-size: 0.8rem;
  }

  body .ThirdSceneFigureContainer {
    left: calc(26% - 150px);
  }

  body .ThirdSceneFigureContainer {
    width: 300px;
    height: 300px;
    top: -170px;
  }

  body .ThirdSceneText {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  body .FirstSceneTitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  body .FirstSceneDesc {
    font-size: 0.6rem;
  }

  body .LoginTextSize {
    font-size: 0.6rem;
  }

  body .LoginTextSize {
    font-size: 0.6rem;
  }

  body .SignUpButton {
    font-size: 0.6rem;
  }

  body .SignUpArrow {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  body .SecondSceneContainer {
    width: 40%;
    height: 40%;
  }

  body .SecondSceneSvgText {
    font-size: 0.7rem;
  }

  body .CircleTextPosition1 {
    top: -5.5rem;
    left: 1.7rem;
    font-size: 0.6rem;
  }

  body .CircleTextPosition2 {
    top: 0.6rem;
    left: 6.5rem;
    font-size: 0.6rem;
  }

  body .CircleTextPosition3 {
    top: 5.5rem;
    left: 0.5rem;
    font-size: 0.6rem;
  }

  body .CircleTextPosition4 {
    top: 1rem;
    left: -8.2rem;
    font-size: 0.6rem;
  }

  body .CircleTextPosition5 {
    top: -3.5rem;
    left: -7.5rem;
    font-size: 0.6rem;
  }

  body .SecondSceneSvgText {
    font-size: 0.7rem;
  }

  body .SecondPartText {
    right: 29%;
  }

  body .ThirdSceneGifText {
    right: -27%;
  }

  body .ThirdSceneFirstTitleText {
    font-size: 1.1rem;
  }

  body .ThirdSceneSecondDescText {
    font-size: 0.6rem;
  }

  body .ThirdSceneGifText {
    right: -31%;
    top: -5rem;
  }

  body .ThirdSceneFigureContainer {
    width: 260px;
    left: calc(27% - 150px);
  }

  body .TypingAni {
    font-size: 2rem;
  }
}

@media screen and (max-width: 540px) {
  body .SecondSceneContainer {
    width: 30%;
    height: 30%;
  }

  body .CircleTextPosition1 {
    top: -3.7rem;
    left: 0.7rem;
    font-size: 0.5rem;
  }

  body .CircleTextPosition2 {
    top: 0.5rem;
    left: 4.2rem;
    font-size: 0.5rem;
  }

  body .CircleTextPosition3 {
    top: 3.5rem;
    left: 0.2rem;
    font-size: 0.5rem;
  }

  body .CircleTextPosition4 {
    top: 1rem;
    left: -5.9rem;
    font-size: 0.5rem;
  }

  body .CircleTextPosition5 {
    top: -2.5rem;
    left: -5.8rem;
    font-size: 0.5rem;
  }

  body .SecondSceneSvgText {
    font-size: 0.55rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 0.8rem;
  }

  body .SecondSceneRightDescText {
    font-size: 0.5rem;
  }

  body .SecondPartText {
    top: 43%;
    right: 30%;
  }

  body .ThirdSceneText {
    width: 40%;
  }

  body .ThirdSceneGifText {
    right: -53%;
  }

  body .ThirdSceneFigureContainer {
    left: calc(32% - 150px);
  }
}

@media screen and (max-width: 470px) {
  body .FirstSceneDesc {
    font-size: 0.5rem;
  }

  body .FirstSceneTitle {
    font-size: 0.8rem;
  }

  body .LoginTextSize {
    font-size: 0.5rem;
  }

  body .SignUpButton {
    font-size: 0.5rem;
  }

  body .SecondPartText {
    right: 33%;
  }

  body .ThirdSceneFigureContainer {
    left: calc(36% - 150px);
  }

  body .ThirdSceneFigureContainer {
    width: 220px;
  }

  body .ThirdSceneFigureContainer {
    height: 270px;
  }

  body .ThirdSceneText {
    width: 40%;
  }

  body .ThirdSceneGifText {
    right: -63%;
  }

  body .TypingAni {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  body .CircleTextPosition1 {
    top: -2.9rem;
    left: 0.7rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition2 {
    top: 0.3rem;
    left: 3.2rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition3 {
    top: 2.7rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition4 {
    top: 0.5rem;
    left: -4.2rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition5 {
    top: -1.9rem;
    left: -4rem;
    font-size: 0.4rem;
  }

  body .SecondSceneSvgText {
    font-size: 0.45rem;
  }

  body .SecondPartText {
    right: 35%;
  }
}

@media screen and (max-width: 420px) {
  body .CircleTextPosition1 {
    top: -2.8rem;
    left: 0.7rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition2 {
    top: 0.3rem;
    left: 3.4rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition3 {
    top: 2.8rem;
    left: 0.2rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition4 {
    top: 0.8rem;
    left: -4.2rem;
    font-size: 0.4rem;
  }

  body .CircleTextPosition5 {
    top: -2.5rem;
    left: -3.5rem;
    font-size: 0.4rem;
  }

  body .SecondPartText {
    right: 33%;
  }
  body .SecondSceneSvgText {
    font-size: 0.45rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 0.7rem;
  }

  body .SecondSceneRightDescText {
    font-size: 0.45rem;
  }

  body .ThirdSceneFigureContainer {
    left: calc(39% - 150px);
  }

  body .ThirdSceneGifText {
    right: -86%;
  }

  body .ThirdSceneText {
    width: 30%;
  }
}

@media screen and (max-width: 380px) {
  body .FirstSceneTitle {
    font-size: 0.6rem;
  }
  body .FirstSceneTitle {
    margin-bottom: 0.55rem;
  }

  body .FirstSceneDesc {
    font-size: 0.4rem;
  }

  body .LoginTextSize {
    font-size: 0.4rem;
  }

  body .SignUpButton {
    font-size: 0.4rem;
  }

  body .SignUpArrow {
    font-size: 0.3rem;
  }

  body .SecondSceneSvgText {
    font-size: 0.4rem;
  }

  body .CircleTextPosition1 {
    top: -2.6rem;
    left: 0.7rem;
    font-size: 0.35rem;
  }

  body .CircleTextPosition2 {
    top: 0.3rem;
    left: 2.9rem;
    font-size: 0.35rem;
  }

  body .CircleTextPosition3 {
    top: 2.3rem;
    left: 0.2rem;
    font-size: 0.35rem;
  }
  body .CircleTextPosition4 {
    top: 0.8rem;
    left: -4rem;
  }

  body .CircleTextPosition5 {
    top: -2rem;
    left: -3.8rem;
  }

  body .SecondSceneRightTitleText {
    font-size: 0.6rem;
  }

  body .SecondPartText {
    top: 45%;
  }

  body .SecondSceneRightTitleText {
    margin-bottom: 0.6rem;
  }

  body .SecondSceneRightDescText {
    font-size: 0.4rem;
  }

  body .ThirdSceneFigureContainer {
    width: 200px;
  }

  body .ThirdSceneFirstTitleText {
    font-size: 0.9rem;
  }

  body .ThirdSceneFirstTitleText {
    margin-bottom: 0.6rem;
  }

  body .ThirdSceneGifText {
    right: -91%;
  }

  body .TypingAni {
    font-size: 1.5rem;
  }

  body .ThirdSceneFigureContainer {
    left: calc(46% - 150px);
  }

  body .ThirdSceneFigureContainer {
    width: 160px;
  }

  body .ThirdSceneFigureContainer {
    height: 250px;
  }

  body .ThirdSceneFirstTitleText {
    font-size: 0.8rem;
  }

  body .ThirdSceneSecondDescText {
    font-size: 0.55rem;
  }

  body .TypingAni {
    font-size: 1.3rem;
  }
}
